// ***********************************
// LAYOUT
// ***********************************
// Flex Grid Rows
// .container
//   max-width: 90%
//   margin: 0px auto
//   // background: #cccbc9;
// .row
//   display: flex
//   flex-wrap: wrap
//   // margin: 0 -10px 10px
// .row > *
//   background: rgba(#f4f3f0, .1)
//   flex: 1
//   // margin: 0 10px
//   margin 0
//   // padding: 10px 10px;
//   padding 0 
  
.flex-container
  display: flex
  // height 711px
.flex-item
  margin auto
  // justify-content: center
  height auto
  background: rgba(#f4f3f0, .1)
.flex-item.one
  flex 1
.flex-item.two
  flex 2
.flex-item.three
  flex 3
.flex-item.four
  flex 4
.flex-item.five
  flex 5
.flex-item.six
  flex 6
.flex-item.seven
  flex 7
.flex-item.eight
  flex 8
.flex-item.nine
  flex 9
.flex-item.ten
  flex 10
.flex-item.eleven
  flex 11
.flex-item.twelve
  flex 12