$s-logo-big = 0px 0px 0px 0px 175px 60px 175px 127px 'sprite.png';
$s-logo = 0px 60px 0px -60px 79px 27px 175px 127px 'sprite.png';
$s-orange-icon = 0px 87px 0px -87px 40px 40px 175px 127px 'sprite.png';
